
h1 {
  font-size: 24px;
  color: #335886;
  background: #f1f1f1;
  font-family: georgia;
   font-style: italic;
  text-align: center;
}

body {
  background: black;
  color: black;
  font-family: arial;
  letter-spacing: 2 px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.65em;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 10px;  
}

b {
	color: #693a72;
  font-family:georgia;
	font-style: italic;
	background: #f1f1f1;
	text-align: center;
	font-size: 18px;
}

a {
	color: #00002d;
	font: normal 20px georgia;
	text-decoration: none;
}

a:hover {
  color: #00002d;
  background: #e9d2cf;
}

header.links nav ul li a {
  background: rgba(0,0,0, 0.1);
}

@media screen and (max-width: 480px) {
  header.Links nav {
    display:block;
  }
  header.Links nav {
    flex:none;
  }

@media screen and (max-width: 480px) {
  header.Content main {
    display:block;
  }
  header.Content main {
    flex:none;
  }
  }
}